{%- extends "layout.html" %}

{%- block app_content %}
<div class="container">
<h1> {{ form.title }} </h1>
<form class="form-group" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
        <p>
            {{ form.location_name.label }}
            {{ form.location_name(size=32) }}
            {% for error in form.location_name.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}